<div style="page-break-before: always;">
  <strong>
    <span class="cbv-header__pilot-name font-sans-md text-middle">
      <%= t("shared.pilot_name") %>
    </span>

    <% if current_agency.present? %>
      <span class="cbv-header__separator text-primary font-sans-md text-middle">|</span>

      <% if current_agency.logo_path.present? %>
        <div class="display-inline-block text-middle">
          <% if current_agency.logo_path.start_with?("http", "data:") %>
            <%= image_tag current_agency.logo_path, class: "cbv-header__agency-logo--#{current_agency.id}" %>
          <% else %>
            <%= image_tag wicked_pdf_asset_base64(current_agency.logo_path), class: "cbv-header__agency-logo--#{current_agency.id}" %>
          <% end %>
        </div>
      <% else %>
        <span class="text-middle font-sans-md text-no-wrap"><%= agency_translation("cbv.submits.show.pdf.agency_header_name") %></span>
      <% end %>
    <% end %>
  </strong>

  <h1><%= t("cbv.submits.show.pdf.paystubs_cover.header") %></h1>
  <p><%= t("cbv.submits.show.pdf.paystubs_cover.intro") %></p>
  <ul>
    <% employer_names.each do |name| %>
      <li><%= name %></li>
    <% end %>
  </ul>
  <p><%= t("cbv.submits.show.pdf.paystubs_cover.footer", agency_name: agency_translation("shared.agency_acronym")) %></p>
</div>
