<% additional_jobs = cbv_flow.has_other_jobs ? I18n.t("us_form_with.boolean_true") : I18n.t("us_form_with.boolean_false") %>
<% date_range = "#{format_parsed_date(aggregator_report.from_date)} to #{format_parsed_date(aggregator_report.to_date)}" %>

<%= render "shared/pdf_report_header", current_agency: current_agency %>

<h1><%= t("transmitters.paystubs_caseworker_cover.title") %></h1>

<%= render "shared/pdf_info_box" do %>
  <p class="margin-0"><strong><%= t("transmitters.paystubs_caseworker_cover.supplement_heading") %></strong></p>
  <p class="margin-top-1 margin-bottom-0"><%= t("transmitters.paystubs_caseworker_cover.supplement_body") %></p>
<% end %>

<p><%= t("transmitters.paystubs_caseworker_cover.employer_list_intro") %></p>
<ul>
  <% employer_names.each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>

<h2><%= t("transmitters.paystubs_caseworker_cover.client_and_report_information") %></h2>

<%= render(TableComponent.new) do |table| %>
  <%= table.with_header do %>
    <h3 class="margin-0"><%= t("transmitters.paystubs_caseworker_cover.client_information") %></h3>
  <% end %>
  <%= table.with_row(t("transmitters.paystubs_caseworker_cover.additional_jobs"), additional_jobs) %>
<% end %>

<%= render(TableComponent.new) do |table| %>
  <%= table.with_header do %>
    <h3 class="margin-0"><%= t("transmitters.paystubs_caseworker_cover.report_details") %></h3>
  <% end %>
  <% if cbv_flow.confirmation_code.present? %>
    <%= table.with_row(t("transmitters.paystubs_caseworker_cover.confirmation_code"), cbv_flow.confirmation_code) %>
  <% end %>
  <%= table.with_row(t("transmitters.paystubs_caseworker_cover.report_created"), format_parsed_date(cbv_flow.consented_to_authorized_use_at)) %>
  <%= table.with_row(t("transmitters.paystubs_caseworker_cover.date_range"), date_range) %>
  <%= table.with_row(t("transmitters.paystubs_caseworker_cover.consent_timestamp"), cbv_flow.consented_to_authorized_use_at) %>
<% end %>
