<%= turbo_frame_tag "employers" do %>
  <% if @query.present? %>
    <h2 class="site-preview-heading margin-bottom-2">
      <%= t("cbv.employer_searches.show.results") %> (<%= @employers.count %>)
    </h2>
  <% end %>
  <div class="usa-card-group">
    <% @employers.each do |employer| %>
      <div class="usa-card usa-card--flag usa-card--media-right desktop:grid-col-6">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h3 class="usa-card__heading"><%= employer.name %></h3>
          </div>
          <% if employer.logo_url.present? %>
            <div class="usa-card__media usa-card__media--inset display-flex flex-justify-center">
              <div class="usa-card__img cbv-employer-card__img">
                <img
                  src="<%= employer.logo_url.sub(/^http:/, "https:") %>"
                  alt="A placeholder image"
                >
              </div>
            </div>
          <% end %>
          <div class="usa-card__footer">
            <button
              data-action="click->cbv-employer-search#select"
              data-id="<%= employer.provider_options.provider_id %>"
              data-response-type="<%= employer.provider_options.response_type %>"
              data-is-default-option="false"
              data-name="<%= employer.name %>"
              data-cbv-employer-search-target="employerButton"
              data-provider-name="<%= employer.provider_name %>"
              class="usa-button usa-button--outline"
              type="button"
              tabindex="0"
              aria-label="<%= employer.name %>"
            >
              <%= t("cbv.employer_searches.show.select") %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @query.present? %>
    <div class="margin-top-5">
      <h2 class="margin-bottom-2"><%= t("cbv.employer_searches.show.employer_not_listed") %></h2>
      <%= link_to cbv_flow_missing_results_path, class: "usa-button usa-button--outline width-full", data: { turbo_frame: "_top" } do %>
          <%= t("cbv.employer_searches.show.can_not_find_employer") %>
      <% end %>
    </div>

    <hr class="margin-y-5 border-base-light border-top-0" >
  <% end %>
<% end %>
