<div data-controller="unemployment-tips">
  <%= render ExpandableHelpComponent.new(
    id: "unemployment-tips",
    trigger_label: t("cbv.employer_searches.show.unemployment_tips.link_text"),
    element_name: "unemployment_tips_help"
  ) do %>
    <p><%= t("cbv.employer_searches.show.unemployment_tips.tip1_heading") %></p>
    <p><%= t("cbv.employer_searches.show.unemployment_tips.tip1_description") %></p>
    <p><%= t("cbv.employer_searches.show.unemployment_tips.tip2_heading") %></p>
    <p><%= t("cbv.employer_searches.show.unemployment_tips.tip2_description", agency_full_name: agency_translation("shared.agency_full_name")) %></p>
    <p><%= t("cbv.employer_searches.show.unemployment_tips.tip2_tip") %></p>
    <p><%= t("cbv.employer_searches.show.unemployment_tips.tip3_heading") %></p>
    <p><%= t("cbv.employer_searches.show.unemployment_tips.tip3_description", agency_full_name: agency_translation("shared.agency_full_name")) %></p>

    <%= t("cbv.employer_searches.show.unemployment_tips.close_message") %>

  <% end %>
</div>
