<div data-controller="unemployed-tips click-tracker"
     data-action="turbo:before-fetch-request@document->unemployed-tips#closeTipsExternal
               click@document->unemployed-tips#closeTipsExternal"
     id="unemployed-tips-section"
>
  <%= render ExpandableHelpV2Component.new(
    id: "unemployed-tips",
    trigger_label: t("cbv.employer_searches.show.unemployment_tips.link_text"),
    element_name: "unemployed_tips_help",
    track_event: TrackEvent::ApplicantAccessedUnemployedHelp,
    data_options: { "unemployed-tips-target": "tipsAccordion" }
  ) do %>

    <%= render partial: "unemployment_tip_content" %>

    <div>
      <button type="button"
              class="usa-button--unstyled usa-link"
              data-unemployed-tips-target="closeLink"
              data-action="click->unemployed-tips#closeTips
                           click->click-tracker#track"
              data-element-type=<%= ClickTracker::ElementType::Button %>
              data-element-name="close_unemployed_tips"
              data-context-unemployed-links-source="link"
              data-track-event="<%= TrackEvent::ApplicantClosedUnemployedHelp %>"
      >
        <%= t("cbv.employer_searches.show.unemployment_tips.close_message") %>
      </button>
    </div>
  <% end %>
</div>
