<h5>
  <%= t("cbv.employer_searches.show.unemployment_tips.tip1_heading") %>
</h5>
<p>
  <%= t("cbv.employer_searches.show.unemployment_tips.tip1_description") %>
</p>

<h5>
  <%= t("cbv.employer_searches.show.unemployment_tips.tip2_heading") %>
</h5>
<p>
  <%= t("cbv.employer_searches.show.unemployment_tips.tip2_description", agency_full_name: agency_translation("shared.agency_full_name")) %>
</p>
<p class="text-italic">
  <%= t("cbv.employer_searches.show.unemployment_tips.tip2_tip") %>
</p>

<h5>
  <%= t("cbv.employer_searches.show.unemployment_tips.tip3_heading") %>
</h5>
<p>
  <%= t("cbv.employer_searches.show.unemployment_tips.tip3_description", agency_full_name: agency_translation("shared.agency_full_name")) %>
</p>
