<% content_for :title, t(".header") %>
<% job_count = @cbv_flow.payroll_accounts.select(&:sync_succeeded?).count %>

<div data-controller="click-tracker" data-click-tracker-page-value="missing_results" data-click-tracker-context-value="<%= { jobs_already_added: job_count }.to_json %>">

<h1><%= t(".header") %></h1>
<p><%= t(".intro") %></p>

<ul class="usa-list">
  <li><a href="#search-tips" class="usa-link" data-action="click->click-tracker#track" data-track-name="search_tips_anchor"><%= t(".quick_link_search_tips") %></a></li>
  <li><a href="#other-ways" class="usa-link" data-action="click->click-tracker#track" data-track-name="other_ways_anchor"><%= t(".quick_link_other_ways") %></a></li>
</ul>

<%# Search Tips Section %>
    <h2 id="search-tips-heading">
      <%= t(".search_tips_heading") %>
    </h2>
    <div>
      <ul class="usa-list usa-list--unstyled">
        <%# Check your search term %>
        <li class="margin-bottom-3">
          <div class="display-flex flex-align-start">
            <svg class="usa-icon usa-icon--size-3 margin-right-1 text-primary flex-shrink-0" aria-hidden="true" focusable="false" role="img">
              <use href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#keyboard") %>"></use>
            </svg>
            <div>
              <h3 class="margin-top-0 margin-bottom-05"><%= t(".check_search_term_heading") %></h3>
              <p class="margin-top-0 margin-bottom-0"><%= t(".check_search_term_text") %></p>
              <p class="margin-top-1 margin-bottom-0"><%= t(".check_search_term_example") %></p>
            </div>
          </div>
        </li>

        <%# Search for your payroll provider %>
        <li class="margin-bottom-3">
          <div class="display-flex flex-align-start">
            <svg class="usa-icon usa-icon--size-3 margin-right-1 text-primary flex-shrink-0" aria-hidden="true" focusable="false" role="img">
              <use href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#search") %>"></use>
            </svg>
            <div>
              <h3 class="margin-top-0 margin-bottom-05"><%= t(".search_payroll_heading") %></h3>
              <p class="margin-top-0 margin-bottom-0"><%= t(".search_payroll_text") %></p>
            </div>
          </div>
        </li>

        <%# How to find your payroll provider - Accordion inline %>
        <li class="margin-bottom-3 margin-left-4">
          <div class="usa-accordion">
            <h3 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button padding-y-1" aria-expanded="false" aria-controls="find-payroll-content" data-action="click->click-tracker#track" data-track-name="payroll_provider_help">
                <span class="display-flex flex-align-center">
                  <%= t(".search_payroll_link") %>
                </span>
              </button>
            </h3>
            <div id="find-payroll-content" class="usa-accordion__content" hidden>
              <div class="usa-summary-box" role="region" aria-labelledby="find-payroll-heading">
                <div class="usa-summary-box__body">
                  <h4 class="usa-summary-box__heading" id="find-payroll-heading">
                    <%= t(".find_payroll_heading") %>
                  </h4>
                  <div class="usa-summary-box__text">
                    <p><%= t(".find_payroll_text") %></p>
                    <p><%= t(".find_payroll_places") %></p>
                    <ol class="usa-list">
                      <li><%= t(".find_payroll_place_1") %></li>
                      <li><%= t(".find_payroll_place_2") %></li>
                      <li><%= t(".find_payroll_place_3") %></li>
                    </ol>
                    <p><%= t(".find_payroll_fallback") %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <%# Make sure you're searching for the right company %>
        <li class="margin-bottom-0">
          <div class="display-flex flex-align-start">
            <svg class="usa-icon usa-icon--size-3 margin-right-1 text-primary flex-shrink-0" aria-hidden="true" focusable="false" role="img">
              <use href="<%= asset_path("@uswds/uswds/dist/img/sprite.svg#store") %>"></use>
            </svg>
            <div>
              <h3 class="margin-top-0 margin-bottom-05"><%= t(".right_company_heading") %></h3>
              <p class="margin-top-0 margin-bottom-0"><%= t(".right_company_text") %></p>
            </div>
          </div>
        </li>

        <%# How to find your employer's parent company - Accordion inline %>
        <li class="margin-top-3 margin-left-4">
          <div class="usa-accordion">
            <h3 class="usa-accordion__heading">
              <button type="button" class="usa-accordion__button padding-y-1" aria-expanded="false" aria-controls="parent-company-content" data-action="click->click-tracker#track" data-track-name="parent_company_help">
                <%= t(".right_company_link") %>
              </button>
            </h3>
            <div id="parent-company-content" class="usa-accordion__content" hidden>
              <div class="usa-summary-box" role="region" aria-labelledby="parent-company-heading">
                <div class="usa-summary-box__body">
                  <h4 class="usa-summary-box__heading" id="parent-company-heading">
                    <%= t(".parent_company_heading") %>
                  </h4>
                  <div class="usa-summary-box__text">
                    <p><strong><%= t(".parent_company_website_heading") %></strong> <%= t(".parent_company_website_text") %></p>
                    <p><strong><%= t(".parent_company_google_heading") %></strong> <%= t(".parent_company_google_text") %></p>
                    <p><strong><%= t(".parent_company_manager_heading") %></strong> <%= t(".parent_company_manager_text") %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

<%# Try searching again button %>
<div class="margin-top-4">
  <%= link_to t(".try_searching_again"), cbv_flow_employer_search_path, class: "usa-button", data: { action: "click->click-tracker#track", track_name: "try_searching_again" } %>
</div>

<%# Other ways to verify job income %>
<div id="other-ways" class="margin-top-5">
  <h2><%= t(".other_ways_heading") %></h2>
  <% if @cbv_flow.has_account_with_required_data? %>
    <p><%= t(".other_ways_intro_with_jobs", count: job_count) %></p>

    <ol class="usa-list">
      <li><%= t(".other_ways_step_1", count: job_count) %></li>
      <li><%= t(".other_ways_step_2") %></li>
    </ol>
  <% else %>
    <p><%= t(".other_ways_intro") %></p>
  <% end %>

  <%# Other ways to submit income - Accordion %>
  <div class="usa-accordion margin-top-3">
    <h3 class="usa-accordion__heading">
      <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="submit-income-content" data-action="click->click-tracker#track" data-track-name="other_ways_to_submit_help">
        <%= t(".other_ways_link") %>
      </button>
    </h3>
    <div id="submit-income-content" class="usa-accordion__content" hidden>
      <div class="usa-summary-box" role="region" aria-labelledby="submit-income-heading">
        <div class="usa-summary-box__body">
          <h4 class="usa-summary-box__heading" id="submit-income-heading">
            <%= t(".submit_income_heading") %>
          </h4>
          <div class="usa-summary-box__text">
            <ul class="usa-list usa-list--unstyled">
              <li class="margin-bottom-2">
                <strong><%= t(".upload_heading", agency_portal_name: agency_translation("shared.agency_portal_name")) %></strong>
                <p class="margin-top-05 margin-bottom-0"><%= t(".upload_text") %></p>
              </li>
              <li class="margin-bottom-2">
                <strong><%= t(".mail_heading", agency_acronym: agency_translation("shared.agency_acronym")) %></strong>
                <p class="margin-top-05 margin-bottom-0"><%= t(".mail_text", agency_acronym: agency_translation("shared.agency_acronym")) %></p>
              </li>
              <li class="margin-bottom-2">
                <p class="margin-y-0"><%= t(".local_help") %></p>
              </li>
              <li class="margin-bottom-0">
                <strong><%= t(".in_person_heading", agency_acronym: agency_translation("shared.agency_acronym")) %></strong>
                <p class="margin-top-05 margin-bottom-0"><%= t(".in_person_text", agency_acronym: agency_translation("shared.agency_acronym")) %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# Action button - different based on whether user has job data %>
  <div class="margin-top-4">
    <% if @cbv_flow.has_account_with_required_data? %>
      <%= link_to t(".go_to_income_summary"), next_path, class: "usa-button", data: { action: "click->click-tracker#track", track_name: "go_to_income_summary" } %>
    <% else %>
      <%= link_to t(".go_to_agency_portal", agency_portal_name: agency_translation("shared.agency_portal_name")),
          current_agency.agency_contact_website,
          class: "usa-button",
          target: "_blank",
          rel: "noopener noreferrer",
          data: { action: "click->click-tracker#track", track_name: "go_to_agency_portal" } %>
    <% end %>
  </div>
</div>

</div>
